

.main{
  height: 90vh;
  width: 70vw;
  margin: auto;
  background-color: gray;
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
}

.img-div{
  height: 90%;
  width: 80%;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  
}

.imgimgimg{
height: 100%;
width: 400%;
transform: translateY(0%); 
transition: .5s;
}


.mem-img{
  height: 100%;
  width: 100%;
}

.navigation{
  height: 10%;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8%;
}

.lbl{
  height: 100%;
  width: 10%;
  background-color:burlywood ;
  border-radius: 50%;
  opacity: .5;
  transition: .5s;
  margin-top: 15%;
  margin-right: 5%;
}
.lbl:hover{
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}

.text-div{
  width: 65%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.span-div{
  width: 400%;
  height: 100%;
  display: flex;
  margin-left: 14%;
  transform: translateX(0);
  transition: .5s;
}

.mem-text{
  display:block;
  width: 85%;
  height: 100%;
  text-align: center;
  color: aqua;
  font-size: 25px;
  margin-top: .5%;
  text-align: start;
}

.text-nav{
  width: 100%;
  height: 25%;
  display: flex;
}

input[name='but']{
  visibility: hidden;
}

#b1:checked ~ .text-nav .span-div {
  transform: translateX(0%);
}

#b2:checked ~ .text-nav .span-div {
  transform: translateX(-25%);
}

#b3:checked ~ .text-nav .span-div{  
  transform: translateX(-50%);
}

#b4:checked ~ .text-nav .span-div {
 transform: translateX(-75%);
}


#b1:checked ~ .img-div .imgimgimg {
  transform: translateY(0%); 
}

#b2:checked ~ .img-div .imgimgimg {
  transform: translateY(-101%); 
}

#b3:checked ~ .img-div .imgimgimg{  
  transform: translateY(-201%); 
}

#b4:checked ~ .img-div .imgimgimg {
 transform: translateY(-302%); 
}
